* {
  color: #ffffff;
  background: #1d2021;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.hidden {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__input__container,
.binds__container {
  display: flex;
  margin-bottom: 0.5rem;
  gap: 0.25rem;
}

.binds__container {
  flex-direction: column;
  align-items: start;
}

.form__error-msg {
  color: #ff0000;
  font-size: 0.75rem;
}

ul {
  list-style-type: square;
}
